<div class="panel panel-default">

    <div class="panel-heading" style="padding-bottom: 0; border-bottom: none;">
        <ul class="nav nav-tabs" role="tablist">

            {% for tabId, cmp in cnr.components.tabs %}

                <li role="presentation" class="{% if cmp.active %}active{% endif %}">
                    <a href="#{{ cmp.id | e('html_attr') }}"
                       aria-controls="{{ cmp.id | e('html_attr') }}"
                       data-title="{{ cmp.title | e('html_attr') }}"
                       role="tab" data-toggle="tab">
                        {% if cmp.icon %}
                            <i class="fa fa-{{ cmp.icon | e('html_attr') }}" aria-hidden="true"></i>
                        {% endif %}
                        {{ cmp.title }}
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>

    <div class="panel-body">
        <div class="tab-content">
            {% for tabId, cmp in cnr.components.tabs %}
            <div role="tabpanel" class="tab-pane fade{% if cmp.active %} active in{% endif %}"
                 id="{{ cmp.id | e('html_attr') }}">
                    {% include cmp.templateName %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% if cnr.components.footer %}
        <div class="panel-footer">
            <div class="row">
                {{ cnr.components.footer | raw }}
            </div>
        </div>
    {% endif %}
</div>