<div class="panel panel-default">

    <div class="panel-heading" style="padding-bottom: 0; border-bottom: none;">
        <ul class="nav nav-tabs" role="tablist">

            {% for tabId, tab in el.components %}

                <li role="presentation" class="{% if tab.active %}active{% endif %}">
                    <a href="#{{ tab.id | e('html_attr') }}"
                       aria-controls="{{ tab.id | e('html_attr') }}"
                       data-title="{{ tab.title | e('html_attr') }}"
                       role="tab" data-toggle="tab">
                        {% if tab.icon %}
                            <i class="fa fa-{{ tab.icon | e('html_attr') }}" aria-hidden="true"></i>
                        {% endif %}
                        {{ tab.title }}
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>

    <div class="panel-body">
        <div class="tab-content">
            {% for tabId, tab in el.components %}
            <div role="tabpanel" class="tab-pane fade{% if tab.active %} active in{% endif %}"
                 id="{{ tab.id | e('html_attr') }}">
                    {% include tab.templateName %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            {{ el.footer | raw }}
        </div>
    </div>
</div>