{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-18
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
<div class="tab-content">
    {% for tabId, tab in tabs %}

        <div role="tabpanel" class="tab-pane fade{% if tab.active %} active in{% endif %}" id="{{ tab.id | e('html_attr') }}">

            <form id="form-{{ tab.id | e('html_attr') }}" class="form-horizontal"
                  method="{{ form.method | e('html_attr') | default('post') }}"
                  action="{{ form.action | e('html_attr') | default('') }}"
                  enctype="{{ form.encType | e('html_attr') }}"
            >

                {% for fieldId, field in tab.fields %}
                    {% if field.templateName %}
                        {% include field.templateName %}
                    {% else %}
                        {{ field.markUp }}
                    {% endif %}
                {% endfor %}

            </form>

        </div>

    {% endfor %}
</div>