{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-19
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
{% spaceless %}

    <div class="form-group">

        <div class="col-sm-offset-2 col-sm-10">

            <button

                {% if field.autofocus %}
                    autofocus
                {% endif %}

                {% if field.disabled %}
                    disabled
                {% endif %}

                {% block global_attributes %}
                    id="{{ field.id | e('html_attr') }}"
                    class="{{ field.class | e('html_attr') }}"
                    {% if field.style %}
                        style="{{ field.style | e('html_attr') }}"
                    {% endif %}
                    {% if field.label %}
                        title="{{ field.label | e('html_attr') }}"
                    {% endif %}
                {% endblock %}

                {% block input_attributes %}
                    type="{{ field.type | e('html_attr') }}"
                    name="{{ field.name | e('html_attr') }}"
                    value="{{ field.value | e('html_attr') }}"

                    {% if field.autoFocus %}
                        autofocus
                    {% endif %}

                    {% if field.disabled %}
                        disabled
                    {% endif %}
                {% endblock %}

                {% block additional_attributes %}
                    {% include 'fields/blocks/additional_attributes.twig' %}
                {% endblock %}

            >{{ field.label }}</button>

        </div>

    </div>

{% endspaceless %}