{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-19
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
{% spaceless %}

    {% if not type %}
        {% set type = 'checkbox' %}
    {% endif %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {% for option in options %}
                <div class="{{ type | e('html_attr') }}">
                    <label>
                        <input
                            type="{{ type | e('html_attr') }}"
                            name="{{ option.name | e('html_attr') }}"
                            value="{{ option.value | e('html_attr') }}"

                            {% if option.required %}
                                required="required"
                            {% endif %}

                            {% if option.autofocus %}
                                autofocus
                            {% endif %}

                            {% if option.disabled %}
                                disabled
                            {% endif %}

                            {% for attribute in additional_attributes %}
                                {% if attribute.name and attribute.value %}
                                    {{ attribute.name | e('html_attr') }}="{{ attribute.value | e('html_attr') }}"
                                {% endif %}
                            {% endfor %}

                            {% for attribute in option.additional_attributes %}
                                {% if attribute.name and attribute.value %}
                                    {{ attribute.name | e('html_attr') }}="{{ attribute.value | e('html_attr') }}"
                                {% endif %}
                            {% endfor %}

                        > {{ label | e }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endspaceless %}