{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-18
 # @since 1.0.0
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
<div class="form-group">

    {% if fld.label %}
        <label for="{{ fld.id | e('html_attr') }}" class="col-sm-2 control-label">{{ fld.label | e }}</label>
    {% endif %}

    <div class="col-md-{% if fld.label %}8{% else %}12{% endif %}">

        <input

            {% block global_attributes %}
                id="{{ fld.id | e('html_attr') }}"
                class="{{ fld.class | e('html_attr') }} form-control wp-menu-pages-input"

                {% if fld.style %}
                    style="{{ fld.style | e('html_attr') }}"
                {% endif %}

                {% if fld.label %}
                    title="{{ fld.label | e('html_attr') }}"
                {% endif %}
            {% endblock %}

            {% block input_attributes %}
                type="{{ fld.type | e('html_attr') }}"
                name="{{ fld.name | e('html_attr') }}"
                value="{{ fld.value | e('html_attr') }}"

                {% if fld.autoComplete %}
                    autocomplete="{{ fld.autoComplete | e('html_attr') }}"
                {% endif %}

                {% if fld.maxLength %}
                    maxlength="{{ fld.maxLength | number_format(0, '', '') }}"
                {% endif %}

                {% if fld.placeholder %}
                    placeholder="{{ fld.placeholder | e('html_attr') }}"
                {% endif %}

                {% if fld.size %}
                    size="{{ fld.size | number_format(0, '', '') }}"
                {% endif %}

                {% if fld.required %}
                    required="required"
                {% endif %}

                {% if fld.autoFocus %}
                    autofocus
                {% endif %}

                {% if fld.disabled %}
                    disabled
                {% endif %}
            {% endblock %}

            {% block additional_attributes %}
                {% include 'fields/blocks/additional_attributes.twig' %}
            {% endblock %}

        >
        {% if fld.description %}
            <span id="{{ fld.id | e('html_attr') }}" class="help-block field-description">
                {{ fld.description }}
            </span>
        {% endif %}
    </div>
</div>