{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-18
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
{% spaceless %}

    <div class="form-group">

        {% if field.label %}
            <label for="{{ field.id | e('html_attr') }}" class="col-sm-2 control-label">{{ field.label | e }}</label>
        {% endif %}

        <div class="col-md-8">

            <input

                {% block global_attributes %}
                    id="{{ field.id | e('html_attr') }}"
                    class="{{ field.class | e('html_attr') }} form-control"

                    {% if field.style %}
                        style="{{ field.style | e('html_attr') }}"
                    {% endif %}

                    {% if field.label %}
                        title="{{ field.label | e('html_attr') }}"
                    {% endif %}
                {% endblock %}

                {% block input_attributes %}
                    type="{{ field.type | e('html_attr') }}"
                    name="{{ field.name | e('html_attr') }}"
                    value="{{ field.value | e('html_attr') }}"

                    {% if field.autoComplete %}
                        autocomplete="{{ field.autoComplete | e('html_attr') }}"
                    {% endif %}

                    {% if field.maxLength %}
                        maxlength="{{ field.maxLength | number_format(0, '', '') }}"
                    {% endif %}

                    {% if field.placeholder %}
                        placeholder="{{ field.placeholder | e('html_attr') }}"
                    {% endif %}

                    {% if field.size %}
                        size="{{ field.size | number_format(0, '', '') }}"
                    {% endif %}

                    {% if field.required %}
                        required="required"
                    {% endif %}

                    {% if field.autoFocus %}
                        autofocus
                    {% endif %}

                    {% if field.disabled %}
                        disabled
                    {% endif %}

                    {% if field.alt %}
                        alt="{{ field.alt | e('html_attr') }}"
                    {% endif %}

                    {% if field.height %}
                        height="{{ field.height | e('html_attr') }}"
                    {% endif %}

                    {% if field.width %}
                        width="{{ field.width | e('html_attr') }}"
                    {% endif %}

                    {% if field.src %}
                        src="{{ field.src | e('html_attr') }}"
                    {% endif %}

                    {% if field.accept %}
                        accept="{{ field.accept | e('html_attr') }}"
                    {% endif %}

                    {% if field.min %}
                        min="{{ field.min | number_format(4, '', '') }}"
                    {% endif %}

                    {% if field.max %}
                        max="{{ field.max | number_format(4, '', '') }}"
                    {% endif %}

                    {% if field.step %}
                        step="{{ field.step | number_format(4, '', '') }}"
                    {% endif %}
                {% endblock %}

                {% block additional_attributes %}
                    {% include 'fields/blocks/additional_attributes.twig' %}
                {% endblock %}

                >

        </div>
    </div>

{% endspaceless %}