{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-18
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
{% block label %}
    <label for="{{ id }}" class=""></label>
{% endblock %}

{% block input %}
    <input
        {% block global_attributes %}
            id="{{ id }}"
            class="{{ class }}"
        {% endblock %}
        {% block input_attributes %}
            type="{{ type }}"
            name="{{ name }}"
            autocomplete="{{ autoComplete }}"
            maxlength="{{ maxLength }}"
            placeholder="{{ placeholder }}"
            size="{{ size }}"
            value="{{ value }}"
            {{ autofocus }}
            {{ disabled }}
        {% endblock %}
    >
{% endblock %}
