{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-19
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
{% spaceless %}
    <div class="form-group">
        {% if field.label %}
        <label for="{{ field.id | e('html_attr') }}" class="col-sm-2 control-label">{{ field.label | e }}</label>

        <div class="col-md-10">
            {% endif %}

            <select
                {% if field.multiple %}
                    multiple
                {% endif %}

                {% block global_attributes %}
                    id="{{ field.id | e('html_attr') }}"
                    class="{{ field.class | e('html_attr') }}"
                    {% if field.style %}
                        style="{{ field.style | e('html_attr') }}"
                    {% endif %}
                    {% if field.label %}
                        title="{{ field.label | e('html_attr') }}"
                    {% endif %}
                {% endblock %}

                {% block input_attributes %}
                    type="{{ field.type | e('html_attr') }}"
                    name="{{ field.name | e('html_attr') }}{% if field.multiple %}[]{% endif %}"

                    {% if field.size %}
                        size="{{ field.size | number_format(0, '', '') }}"
                    {% endif %}

                    {% if field.required %}
                        required="required"
                    {% endif %}

                    {% if field.autoFocus %}
                        autofocus
                    {% endif %}

                    {% if field.disabled %}
                        disabled
                    {% endif %}

                    {% if field.multiple %}
                        multiple="multiple"
                    {% endif %}
                {% endblock %}

                {% block additional_attributes %}
                    {% include 'fields/blocks/additional_attributes.twig' %}
                {% endblock %}
            >
                {% set selected = field.value %}
                {% for name, value in field.options %}
                    {% if field.value is iterable %}
                        {% set groupOptions = field.value %}
                        {% include 'fields/cmp/optgroup.twig' %}
                    {% else %}
                        {% include 'fields/cmp/option.twig' %}
                    {% endif %}
                {% endfor %}
            </select>

            {% if label %}
        </div>
        {% endif %}
    </div>
{% endspaceless %}