{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-18
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
<form id="form-{{ panel.id | e('html_attr') }}" class="form-horizontal"
      method="{{ form.method | e('html_attr') | default('post') }}"
      action="{{ form.action | e('html_attr') | default('') }}"
      enctype="{{ form.encType | e('html_attr') }}"
>

    {% if panel.title %}
        <h2>
            {{ panel.title }}
            {% if panel.subtitle %}
                <small>{{ panel.subtitle }}</small>
            {% endif %}
        </h2>
    {% endif %}

    {% for fieldId, field in panel.fields %}
        {% include field.getTemplateName %}
    {% endfor %}

</form>