<form id="form-{{ cmp.id | e('html_attr') }}"
      class="{{ cmp.class | e('html_attr') }}"
      method="{{ cmp.method | e('html_attr') }}"
      action="{{ cmp.action | e('html_attr') }}"
      enctype="{{ cmp.encType | e('html_attr') }}"
>
    {% for fieldId, fld in cmp.fields %}
        {% include fld.templateName %}
    {% endfor %}
</form>