{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-18
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
<div class="tab-content">
    {% for tabId, tab in tabs %}

        <div role="tabpanel" class="tab-pane fade{% if tab.active %} active in{% endif %}"
             id="{{ tab.id | e('html_attr') }}">

            {% if tab.form %}
                <form id="form-{{ tab.id | e('html_attr') }}"
                      class="{{ tab.form.class | e('html_attr') }}"
                      method="{{ tab.form.method | e('html_attr') }}"
                      action="{{ tab.form.action | e('html_attr') }}"
                      enctype="{{ tab.form.encType | e('html_attr') }}"
                >
            {% endif %}

                {% for fieldId, field in tab.fields %}
                    {% if field.templateName %}
                        {% include field.templateName %}
                    {% else %}
                        {{ field.markUp }}
                    {% endif %}
                {% endfor %}

            {% if tab.form %}
                </form>
            {% endif %}

        </div>

    {% endfor %}
</div>